.card-inner {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 6px 4px 0px;
  height: 100%;
}

.card-inner:hover {
  background: #333;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-top: 12px;
}

@media screen and (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
}
